html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "shadows";
  src: url("/ressources/la-tipik/polices/ShadowsIntoLight.ttf")
}
@font-face {
  font-family: "roboto";
  src: url("/ressources/la-tipik/polices/Roboto-Regular.ttf")
}
@font-face {
  font-family: "openSans";
  src: url("/ressources/la-tipik/polices/Open_Sans/OpenSans-Regular.ttf")
}